body {
    margin: 0;
    padding: 0;
    width: 100%;
    max-height: 1080px;
    max-width: 1920px;
}

header {
    background-color: rgb(93, 6, 24);
    position: fixed;
    top: 0%;
    height: 13%;
    min-height: 7%;
    width: 100%;
    color: white;
    text-align: center;
    font-size: 100%;
    padding: 0.26%;
}

nav {
    line-height: 2.8%;
    background-color: #eeeeee;
    position: fixed;
    top: 45%; /*280*/
    height: 15%;
    width: 12.3%;
    left: 19.5%;
    padding: 0.26%;
}

nav ul li a {
    font-size: 95%;
    display: block;
    text-align: left;
}

nav, nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

div.userPhoto {
    position: fixed;
    top: 15%;
    left: 19.5%;
    padding: 0.26%;
}

.userPhoto img#mainPhoto {
    width: 15%;
    border: 0.65em solid #fff;
    border-bottom: 3em solid #fff;
    box-shadow: 0.2em 0.2em 0.2em #777;
    max-width: 100%;
    height: auto;
}

.userPhoto p {
    position: absolute;
    text-align: left;
    width: 100%;
    bottom: 0%;
    font: 400 100%/1 'Kaushan Script', cursive;
    color: #888;
}

.userPhoto img.server {
    position: absolute;
    left: 12%;
    bottom: 4%;
    width: 5%;
    max-width: 100%;
    height: auto;
}

section {
    position: fixed;
    top: 15%;
    height: 63%;
    width: 45%;
    left: 33%;
    padding: 1%;
    background-color: #F8F8FF;
    overflow-y: auto;
    overflow-x: hidden;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

li.Message {
    float: right;
    width: 100%;
    min-height: 1%;
    background-color: white;
    margin: 0.2%;
    border-radius: 5%;
}

li.deleteMessage {
    border-radius: 5%;
    background-color: #FFDAB9;
    float: right;
    width: 100%;
    min-height: 1%;
    margin: 0.2%;
}

li.editMessage {
    position: relative;
    border-radius: 5%;
    background-color: azure;
    float: right;
    width: 100%;
    min-height: 1%;
    margin: 0.2%;
}

img.editIcon {
    width: 5%;
    position: absolute;
    right: 0.1%;
    bottom: 70%;
}

div.author {
    color: maroon;
}

div.messageText {
    padding: 0.26%;
    position: relative;
    width: 85%;
    font-family: tahoma, arial, verdana, sans-serif, Lucida Sans;
    font-size: 0.9em;
    line-height: 1.182;
    font-weight: normal;
}

div.timestamp a {
    position: relative;
    left: 90%;
    font-size: 0.7em;
    bottom: 10%;
    color: darkgrey;
}

img.icon {
    width: 15%;
}

footer {
    background-color: rgb(93, 6, 24);
    color: white;
    clear: both;
    text-align: center;
    padding: 0.26%;
    position: fixed;
    width: 100%;
    bottom: 0.01%;
}

#inputMessage {
    position: fixed;
    bottom: 8%;
    left: 33%;
    height: 5%;
    padding: 0.26%;
    width: 33%;
}

#NewName {
    position: fixed;
    top: 100px;
    width: 165px;
    border-radius: 5%;
    left: 267px;
    padding: 5px;
}

#name {
    position: fixed;
    top: 16%;
    width: 12%;
    border-radius: 5%;
    left: 44%;
    padding: 0.26%;
}

#password {
    position: fixed;
    top: 23.5%;
    width: 12%;
    border-radius: 5%;
    left: 44%;
    padding: 0.26%;
}

#addMessage, #Rename, #addUser, #newUser {
    border-radius: 10%;
    background-color: rgb(93, 6, 24);
    color: white;
    font-size: 90%;
    border: hidden;
}

#addMessage {
    position: fixed;
    bottom: 10%;
    left: 68%;
    height: 5%;
    width: 7%;
}

#Rename {
    position: fixed;
    padding: 0.26%;
    left: 29%;
    top: 22%;
}

#addUser {
    position: fixed;
    padding: 0.26%;
    left: 44%;
    top: 31%;
    height: 5%;
    width: 6%;
}

#newUser {
    position: fixed;
    padding: 0.26%;
    left: 51%;
    top: 31%;
    height: 5%;
    width: 6%;
}

ul.nav, ul.nav ul, ul.nav li {
    margin: 0;
    padding: 0;
}

ul.nav ul {
    background: #FFDAB9;
}

ul.nav {
    position: relative;
    float: right;
    display: table;
    width: 30%;
}

ul.nav ul {
    border-radius: 5%;
    position: absolute;
    z-index: 5;
    display: none;
}

ul.nav li:hover ul {
    display: block;
    bottom: 100%;
}

ul.nav li {
    display: inline;
    text-align: right;
}

ul.nav ul li {
    display: block;
    text-align: left;
}

ul.nav .right {
    direction: rtl;
}

ul.nav a {
    display: block;
    padding: 0.3% 0;
    color: black;
    text-decoration: none;
}

ul.nav ul a {
    padding: 0.3% 1%;
}

ul.nav li:hover {
    background-color: #F8F8FF;
}

@media screen and (max-width: 1020px) {
    div.userPhoto {
        left: 15%;
    }

    div.userPhoto p {
        font-size: 60%;
    }

    nav {
        top: 50%;
        width: 16.5%;
        left: 15%;
    }

    #addMessage {
        bottom: 9%;
        width: 12%;
    }

}

@media screen and (max-width: 900px) {
    #addMessage {
        bottom: 12%;
    }

    #inputMessage {
        bottom: 11%;
    }

    nav {
        top: 50%;
    }

    img.icon {
        width: 15%;
    }
}

@media screen and (max-width: 360px) {
    div.userPhoto {
        display: none;
    }
}





